<div data-ng-controller="KeyPairCreateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="hide()">×</button>
		<h3>Create Key Pair</h3>
	</div>
	<div class="modal-body">
		<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">Generate</a></li>
			<li><a href="#tab2" data-toggle="tab">Import</a></li>
		  </ul>
		  <div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<fieldset>
					<table style="width: 100%">
						<tr>
							<td>
								<label>Name</label>
								<input type="text" data-ng-model="create_keypair.name" style="margin-bottom: 0px"/>
								<button class="btn" data-ng-click="onCreate()">Create Key Pair</button>
								<span class="help-block"></span>
							</td>
							<tr>
								<td>
									<label>Public Key (readonly)</label>
									<textarea data-ng-model="create_keypair.public_key" readonly="readonly" style="width: 350px"/>
									<span class="help-block"></span>
								</td>
							</tr>
						</tr>
					</table>
				</fieldset>
			</div>
			<div class="tab-pane" id="tab2">
				<fieldset>
					<table style="width: 100%">
						<tr>
							<td>
								<label>Name</label>
								<input type="text" data-ng-model="import_keypair.name" />
								<span class="help-block"></span>
							</td>
						</tr>
						<tr>
							<td>
								<label>Public Key</label>
								<textarea data-ng-model="import_keypair['public key']" style="width: 350px" />
								<span class="help-block"></span>
							</td>
						</tr>
						<tr>
							<td><button class="btn" data-ng-click="onImport()">Import Key Pair</button></td>
						</tr>
					</table>
				</fieldset>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="pull-left">
			<a data-ng-click="hide()">Cancel</a>
		</div>
	</div>
</div>

