<h1>Service List</h1>
<hr />
<div class="well">
	<table class="actions">
		<tr>
			<td>
				<button data-ng-click="onCreate()" class="btn"><i class="icon-plus"></i> Create</button>
				<button data-ng-click="onDelete()" class="btn"><i class="icon-minus"></i> Delete</button>
			</td>
			<td class="right">
				<button data-ng-click="onRefresh()" class="btn"><i class="icon-refresh"></i> Refresh</button>
			</td>
		</tr>
	</table>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th><input type="checkbox" /></th>
			<th>Id</th>
			<th>Type</th>
			<th>Name</th>
			<th>Description</th>
			<th><br /></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="item in services">
			<td><input type="checkbox" /></td>
			<td>{{item.id}}</td>
			<td>{{item.type}}</td>
			<td><a href="#/identity/services/1">{{item.name}}</a></td>
			<td>{{item.description}}</td>
			<td class="btn-toolbar">
				<div class="btn-group" style="float: right; margin-right: 35px">
					<button data-toggle="dropdown" class="btn dropdown-toggle">
						Quick Actions<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a ng-click="onEdit"><span class="icon-pencil"></span> Edit</a></li>
						<li class="divider"></li>
						<li><a ng-click="onDelete()" class="confirm-delete"><span class="icon-trash"></span> Delete</a></li>
					</ul>
				</div>
			</td>
		</tr>
	</tbody>
</table>