<div id="login" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<h3>Login on
			<select ng-model="provider" ng-options="provider as provider.title for provider in providers" class="pull-right">
			</select>
		</h3>
	</div>
		<div class="modal-body">
			<p>
				<label for='identity-endpoint'>Authentication URL:</label>
				<select ng-model="endpoint" ng-options="endpoint for endpoint in provider.identity.endpoints" style="width: 98%" ng-hide="provider.name == 'custom'"/>
				<input type="text" ng-model="endpoint" style="width: 98%" ng-show="provider.name == 'custom'"/>
			</p>
			<p>
				<label for='identity-auth-method'>Authentication Methods:</label>
				<select ng-model="authentication" ng-options="auth_method for auth_method in provider.identity.authentication" style="width: 98%" />
			</p>
			<ng-switch on="authentication">
			<div ng-switch-when="passwordCredentials">
			<p>
				<label for='username'>Username:</label>
				<input type="text" ng-model="auth[authentication].passwordCredentials.username" />
			</p>

			<p>
				<label for='password'>Password:</label>
				<input type="password" ng-model="auth[authentication].passwordCredentials.password" />
			</p>
			</div>
			<div ng-switch-when="apiAccessKeyCredentials">
			<p>
				<label for='access-key'>Access Key:</label>
				<input type='text' ng-model="auth[authentication].apiAccessKeyCredentials.accessKey" />
			</p>
			<p>
				<label for='secret-key'>Secret Key:</label>
				<input type='text' ng-model="auth[authentication].apiAccessKeyCredentials.secretKey" />
			</p>
			</div>
			<div ng-switch-when="RAX-KSKEY:apiKeyCredentials">
				<p>
					<label for='access-key'>Username:</label>
					<input type='text' ng-model="auth[authentication]['RAX-KSKEY:apiKeyCredentials'].username" />
				</p>
				<p>
					<label for='secret-key'>API Key:</label>
					<input type='text' ng-model="auth[authentication]['RAX-KSKEY:apiKeyCredentials'].apiKey" />
				</p>
			</div>
			<div ng-switch-when="jsonCredentials">
				<p>
					<label for='access-key'>JSON Keystone Authentication:</label>
					<textarea ng-model="auth[authentication]" style="width: 96%"></textarea>
				</p>
			</div>
			</ng-switch>
			<!--
			<p id="remember_me_holder">
				<label class="checkbox">Remember me
					<input type='checkbox' />
				</label>
			</p>
			-->
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onLogin()">Login</button>
	</div>
</div>