<div ng-include src="'app/portal/views/top.html'"></div>

<h1>Available Tenants <button class="btn pull-right" ng-click="onRefresh(true)"><span class="icon-refresh"></span> Refresh</button></h1>
<table class="table table-stripped">	
	<thead>
		<tr>
			<th>Name</th>
			<th><br /></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="tenant in tenants">
			<td>{{tenant.name}}</td>
			<td style="text-align: right">
				<button data-ng-click="onTenantSelected(tenant)" class="btn">Select Project</button>
			</td>
		</tr>
	</tbody>
</table>