<div class="row" data-ng-controller="ComputeCtrl">
	<ng-include src="'app/compute/views/common/nav.html'">
</div>
<div class="page-header" style="position: relative">
	<h1>Images <small>{{$routeParams.region}}</small></h1>
</div>
<div class="row">
	<div class="span12">
		<div id="image-list">
			<div class="well well-small" style="overflow: hidden">
				<div class="pull-left">
					<button class="btn btn-small btn-small modal-link" modal-src="app/compute/views/images/create.html"><span class="icon-plus"></span> Create Image</button>
				</div>
				<div class="pull-right">
					<button class="btn btn-small btn-small btn-delete" data-ng-click="onDelete()"><span class="icon-trash"></span> Delete</button>
					<a class="btn btn-small btn-small btn-refresh" data-ng-click="onRefresh(true)"><span class="icon-refresh"></span> Refresh</a>
				</div>
			<table style="width: 100%">
				<tbody>
					<tr>
						<td>
							
						</td>
						<td style="text-align: right">
							
						</td>
					</tr>
				</tbody>
			</table>
			</div>
			<div class="list">
				<table class="table table-striped" with-selection-checkboxes="images">
					<thead>
						<tr>
							<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
							<th><br /></th>
							<th>Name</th>
							<th>RAM (min)</th>
							<th>HHD (min)</th>
							<th>Status</th>
							<th style="width: 1px"><br /></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="image in images">
							<td><input type="checkbox" ng-model="image.checked"/></td>
							<td>
								<img ng-src="{{image.name|logo}}" style="width: 32px" />
							</td>
							<td>{{image.name}}</td>
							<td>{{image.minRam}}</td>
							<td>{{image.minDisk}}</td>
							<td ng-hide="image.status == 'SAVING'" style="text-align: center">
								<span class="label label-success">{{image.status}}</span>
							</td>
							<td ng-show="image.status == 'SAVING'">
								<div class="progress progress-striped active">
								  <div class="bar" style="width: {{image.progress}}%;"></div>
								</div>
							</td>
							<td class="btn-toolbar">
								<div class="btn-group">
									<button data-toggle="dropdown" class="btn btn-small dropdown-toggle"><span class="icon-cog"></span> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/images/{{image.id}}">Show</a></li>
										
										<li><a data-bootstrap-modal="app/compute/views/servers/launch.html"><span class="icon-play"></span> Launch</a></li>
										<li class="divider"></li>
										<li><a ng-click="onDelete(image)"><span class="icon-remove"></span> Delete</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>