<div data-ng-controller="ComputeCtrl">
	<div class="row">
		<ng-include src="'app/compute/views/common/nav.html'"></ng-include>
	</div>
	<div class="page-header" style="position: relative">
		<h1>Limits <small>{{$routeParams.region}}</small></h1>
	</div>
	<div class="row limits">
		<div class="span6">
			<h3>Rate</h3>
			<table class="table table-stripped">
				<tbody ng-repeat="item in limits.rate">
					<tr ng-repeat="limit_item in item.limit">
						<th style="text-align: left" rowspan="{{item.limit.length}}" ng-show="$index == 0">{{item.regex}}</th>
						<td>
							<table class="table table-stripped">
								<tr ng-repeat="(k,v) in limit_item">
									<th style="text-align: left">{{k}}</th>
									<td>{{v}}</td>
								</tr>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span6">
			<h3>Absolute</h3>
			<ul>  
				<li><span>{{limits.absolute.totalVolumesUsed}}</span> / <span>{{limits.absolute.maxTotalVolumes}}</span> <span>Volumes</span></li>
				<li><span>{{limits.absolute.totalVolumeGigabytesUsed}}</span> / <span>{{limits.absolute.maxTotalVolumeGigabytes}}</span> <span>Volume Gb.</span></li>
				<li><span>{{limits.absolute.totalSecurityGroupsUsed}}</span> / <span>{{limits.absolute.maxSecurityGroups}}</span> <span>Security Groups</span></li>
				<li><span>{{limits.absolute.totalRAMUsed}}</span> / <span>{{limits.absolute.maxTotalRAMSize}}</span> <span>RAM size</span></li>
				<li><span>{{limits.absolute.totalKeyPairsUsed}}</span> / <span>{{limits.absolute.maxTotalKeypairs}}</span> <span>Key Pairs</span></li>
				<li><span>{{limits.absolute.totalKeyPairsUsed}}</span> / <span>{{limits.absolute.maxTotalKeypairs}}</span> <span>Key Pairs</span></li>
				<li><span>{{limits.absolute.totalInstancesUsed}}</span> / <span>{{limits.absolute.maxTotalInstances}}</span> <span>Instances</span></li>
				<li><span>{{limits.absolute.totalCoresUsed}}</span> / <span>{{limits.absolute.maxTotalCores}}</span> <span>Cores</span></li>
			</ul>
			
			<table class="table table-stripped">
				<tr ng-repeat="(k,v) in limits.absolute">
					<th style="text-align: left">{{k}}</th>
					<td>{{v}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>