<div ng-controller="FloatingIpAllocateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="hide()">×</button>
		<h3 id="myModalLabel">Allocate Floating IP</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<tr>
					<td>
						<label>Pool</label>
						<select ng-model="pool" ng-options="pool.name as pool.name for pool in floating_ip_pools"></select>
						<span class="help-block"></span>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<div class="pull-left">
			<a data-ng-click="hide()">Cancel</a>
		</div>
		<div class="pull-right">
			<button type="submit" class="btn btn-small btn-primary" ng-click="onAllocate()">Allocate</button>
		</div>
	</div>
</div>