<div ng-controller="FloatingIpAssociateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="hide()">×</button>
		<h3 id="myModalLabel">Associate Floating IP</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<tr>
					<td>
						<label>Server</label>
						<select ng-model="serverId" ng-options="server.id as server.name for server in servers"></select>
						<span class="help-block">Example block-level help text here.</span>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<div class="pull-left">
			<a data-ng-click="hide()">Cancel</a>
		</div>
		<button type="submit" class="btn btn-small btn-primary" data-ng-click="onAssociate()">Associate</button>
	</div>
</div>