<div class="row" data-ng-controller="ComputeCtrl">
	<ng-include src="'app/compute/views/common/nav.html'">
</div>
<div class="page-header" style="position: relative">
	<h1>Floating IPs <small>{{$routeParams.region}}</small></h1>
</div>
<div class="row">
	<div class="span12">
		<div class="well well-small" style="overflow: hidden">
			<div class="pull-left">
				<button class="btn btn-small" ng-click="on_allocate()"><i class="icon-plus"></i> Allocate Floating Ip</button>
			</div>
			<div class="pull-right">
				<button class="btn btn-small" data-ng-click="onDeallocate()"><i class="icon-trash"></i> Deallocate</button>
				<button data-ng-click="onRefresh(true)" class="btn btn-small"><i class="icon-refresh"></i> Refresh</button>
			</div>
		</div>
		<table class="table table-striped" with-selection-checkboxes="floating_ips">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
					<th>Ip</th>
					<th>Fixed Ip</th>
					<th>Server Id</th>
					<th>Pool</th>
					<th><br /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in floating_ips">
					<td><input type="checkbox" ng-model="item.checked" /></td>
					<td>{{item.ip}}</td>
					<td>{{item.fixed_ip}}</td>
					<td>{{item.instance_id}}</td>
					<td>{{item.pool}}</td>
					<td class="btn-toolbar">
						<div class="btn-group" style="float:right; margin-right: 35px">
							<button data-toggle="dropdown" class="btn dropdown-toggle">
								<span class="icon-cog"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
							<g:if test="{{item.instanceId}}">
								<li><a data-ng-click="onDisassociate(item)" ng-show="item.instance_id">Disassociate from server</a></li>
							</g:if>
							<g:else>
								<li><a data-bootstrap-modal="app/compute/views/floatingips/associate.html" ng-hide="item.instance_id">Associate to server</a></li>
							</g:else>
								<li class="divider"></li>
								<li><a data-ng-click="onDeallocate(item)" class="confirm-delete">Deallocate ...</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>