<div data-ng-controller="ComputeCtrl">
	<div class="row">
		<ng-include src="'app/compute/views/common/nav.html'"></ng-include>
	</div>
	<div class="page-header" style="position: relative">
		<h1>Hosts <small>{{$routeParams.region}}</small></h1>
	</div>
	<div class="row">
		<div class="span12">
			<table class="table table-stripped">
				<thead>
					<tr>
						<th>hostname</th>
						<th>service</th>
					</tr>
				</thead>
				<tbody ng-repeat="host in hosts">
					<tr>
						<td>
							<a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/hosts/{{host.host_name}}">{{host.host_name}}</a>
						</td>
						<td>{{host.service}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>