<div class="row">
	<div class="span2"><ng-include src="'app/compute/views/common/nav.html'"></div>
	<div class="span10">
		<h1>Edit Security Group Rules</h1>
		<hr />
		<h2>${securityGroup.name}</h2>
		<p>${securityGroup.description}</p>
		<hr />
		<form action="${createLink(action : 'addRule', params : [tenantId : params.tenantId, regionName : params.regionName, securityGroupId : params.securityGroupId])}" method="POST">
		<table class="table table-striped">
			<thead>
				<tr>
					<th style="width: 5%"><input type="checkbox" /></th>
					<th style="width: 20%">Protocol</th>
					<th style="width: 20%">From Port</th>
					<th style="width: 20%">To Port</th>
					<th>CIDR</th>
					<th style="width: 15%"><br /></th>
				</tr>
				<tr>
					<td><br /></td>
					<td><g:select name="ipProtocol" from="['TCP','UDP','ICMP']" class="span10" /></td>
					<td><g:textField name="fromPort" class="span10" /></td>
					<td><g:textField name="toPort" class="span10" /></td>
					<td><g:textField name="cidr" class="span10" placeholder="0.0.0.0/24"/></td>
					<td><button class="btn"><i class="icon-ok"></i> Add</button></td>
				</tr>
			</thead>
			<tbody>
				<g:each in="${securityGroup?.rules}" var="rule" status="status">
					<g:if test="${rule.ipProtocol}">
					<tr>
						<td><input type="checkbox" /></td>
						<td>${rule.ipProtocol}</td>
						<td>${rule.fromPort}</td>
						<td>${rule.toPort}</td>
						<td>${rule.ipRange.cidr}</td>
						<td>
							<a href="${createLink(action : 'removeRule', params : [tenantId : params.tenantId, securityGroupId : params.securityGroupId, securityGroupRuleId : rule.id])}" class="btn"><i class="icon-remove"></i> Delete</a>
						</td>
					</tr>
					</g:if>
				</g:each>
			</tbody>
		</table>
		</form>
	</div>
</div>