<div class="row">
	<div class="span12">
		<ng-include src="'app/identity/views/common/nav.html'">
	</div>
</div>
<div class="row">
	<fieldset>
		<table style="width: 100%">
			<tr>
				<td>
					<label>Service</label>
					<select data-ng-model="endpoint.serviceId" ng-options="service for service in ['compute']"></select>
					<span class="help-block"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>Region</label>
					<input type="text" data-ng-model="endpoint.region" />
					<span class="help-block"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>Public URL</label>
					<textarea data-ng-model="endpoint.publicURL"></textarea>
					<span class="help-block"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>Internal URL</label>
					<textarea data-ng-model="endpoint.internalURL"></textarea>
					<span class="help-block"></span>
				</td>
			</tr>
			<tr>
				<td>
					<label>Admin URL</label>
					<textarea data-ng-model="endpoint.adminURL"></textarea>
					<span class="help-block"></span>
				</td>
			</tr>
		</table>
	</fieldset>
</div>