<table class="table table-striped" data-ng-controller="EndpointListCtrl">
	<thead>
		<tr>
			<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
			<th>ID</th>
			<th>Region</th>
			<th>Public URL</th>
			<th>Administration URL</th>
			<th>Internal URL</th>
			<th><br /></th>
		</tr>
	</thead>
	<tbody>
			<tr data-ng-repeat="item in endpoints">
				<td><input type="checkbox" ng-model="item.checked" /></td>
				<td>{{item.id}}</td>
				<td>{{item.region}}</td>
				<td>{{item.publicurl}}</td>
				<td>{{item.adminurl}}</td>
				<td>{{item.internalurl}}</td>
				<td style="text-align:right">
					<button data-ng-click="onDelete(item)" class="btn confirm-delete"><i class="icon-trash"></i> Delete</button>
				</td>
			</tr>
	</tbody>
</table>