<div class="row">
	<div class="span12">
		<ul class="nav nav-pills" >
			<li ng-class="{active : page == 'views/portal/users/edit.html'}">
				<a href="#/portal/myaccount">My Account</a>
			</li>
			<li ng-class="{active : page == 'views/portal/usage/list.html'}">
				<a href="#/portal/usage">Usage</a>
			</li>
			<li ng-class="{active : page == 'views/portal/billing/list.html'}">
				<a href="#/portal/billing">Billing</a>
			</li>
	    </ul>
	</div>
	<div class="span12">
		<ng-include src="page"></ng-include>
	</div>
</div>