<div class="row">
	<div class="span12">
		<ng-include src="'app/identity/views/common/nav.html'">
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="well well-small">
			<table style="width: 100%">
				<tr>
					<td>
						<button data-bootstrap-modal="app/identity/views/tenants/create.html" class="btn"><i class="icon-plus"></i> Create Tenant</button>
						
					</td>
					<td style="text-align: right">
						<button data-ng-click="onDelete()" class="btn"><i class="icon-trash"></i> Delete</button>
						<button data-ng-click="onRefresh()" class="btn"><i class="icon-refresh"></i> Refresh</button>
					</td>
				</tr>
			</table>
		</div>
		<table class="table table-stripped" with-selection-checkboxes="tenants">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
					<th>Name</th>
					<th>Description</th>
					<th>Enabled</th>
					<th><br /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="tenant in tenants">
					<td><input type="checkbox" ng-model="tenant.checked" /></td>
					<td><a href="#/{{$routeParams.tenant}}/identity/tenants/{{tenant.id}}">{{tenant.name}}</a></td>
					<td>{{tenant.description}}</td>
					<td>{{tenant.enabled}}</td>
					<td class="btn-toolbar">
						<div class="btn-group" style="float: right; margin-right: 35px">
							<button data-toggle="dropdown" class="btn dropdown-toggle"><span class="icon-cog"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a data-ng-click="onDelete(tenant)"><i class="icon-remove"></i> Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>