<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="FlavorCreateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Create Flavor</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table class="table-form">
				<tr>
					<td colspan="2">
						<label>Name</label>
						<input type="text" data-ng-model="flavor.name" placeholder="" required />
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>RAM</label>
						<input type="number" data-ng-model="flavor.ram" placeholder="" required />
						<span class="help-block"></span>
					</td>
					<td>
						<label>vCPUs</label>
						<input type="number" data-ng-model="flavor.vcpus" placeholder="" required />
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Root Disk (Gb)</label>
						<input type="number" data-ng-model="flavor.disk" placeholder="" required />
						<span class="help-block"></span>
					</td>
					<td>
						<label>Swap</label>
						<input type="number" data-ng-model="flavor.swap" placeholder="" required />
						<span class="help-block"></span>
					</td>
				</tr>
				</tr>
					<td>
						<label>Ephemeral Disk (Gb)</label>
						<input type="number" data-ng-model="flavor['OS-FLV-EXT-DATA:ephemeral']" required />
						<span class="help-block"></span>
					</td>
					<td>
						<label>RX/TX</label>
						<input type="text" data-ng-model="flavor.rxtx_factor" />
						<span class="help-block"></span>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
		<button class="btn" data-ng-click="onCreate()">Create Flavor</button>
	</div>
</div>