<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Resize Server</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<tr>
					<td>
						<label>Flavor</label>
						<select ng-model="resize.flavorRef" ng-options="flavor.id as flavor.name for flavor in flavors" optionValue="${{it.name + ' - ' + it.vcpus + ' vCPUs, ' + it.ram + ' RAM, ' + it.disk + ' Disk'}}"></select>
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Disk Config</label>
						<select ng-model="resize.diskConfig" ng-options="opt for opt in ['MANUAL','AUTO']" />
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
		<button type="submit" class="btn btn-primary" data-ng-click="onResize()">Resize</button>
	</div>
</div>