<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      
      <a class="brand" href="#/unscoped">StackSherpa</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          
        </ul>
		<ul class="nav pull-right">
          <li class="divider-vertical"></li>
          <li class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Luis Gervaso @woorea <b class="caret"></b></a>
            <ul class="dropdown-menu">
				<li><a href="#/myaccount">My account</a></li>
              <li class="divider"></li>
              <li><a href="#" data-ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>