<div class="row">
	<div class="span12">
		<ng-include src="'app/identity/views/common/nav.html'">
	</div>
</div>
<div class="page-header" style="position: relative">
	<h1>Tenant <small>Users</small></h1>
	<ng-include src="'app/identity/views/tenants/tenant/_actions.html'" />
</div>
<div class="row">
	<div class="span12">
		<div>
			<select ng-model="userId" ng-options="user.id as user.name for user in users" >
				<option value="">Select one user</option>
			</select>
			<select ng-model="roleId" ng-options="role.id as role.name for role in roles">
				<option value="">Select one role</option>
			</select>
			<button class="btn" style="margin-bottom: 9px" ng-click="addUserOnTenant(userId, roleId)"><i class="icon-user"></i> Add User</button>
		</div>
		<hr />
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Enabled</th>
					<th>Role</th>
					<th><br /></th>
				</tr>
			</thead>
			<tbody ng-repeat="user in users_on_tenant">
				<tr>
					<td rowspan="{{user.roles_on_tenant.length}}">{{user.id}}</td>
					<td rowspan="{{user.roles_on_tenant.length}}">{{user.name}}</td>
					<td rowspan="{{user.roles_on_tenant.length}}">{{user.email}}</td>
					<td rowspan="{{user.roles_on_tenant.length}}">{{user.enabled}}</td>
					<td>{{user.roles_on_tenant[0].name}}</td>
					<td>
						<button ng-click="removeUserFromTenant(user.id, user.roles_on_tenant[0].id)" class="btn"><i class="icon-remove"></i> Remove User</a>
					</td>
				</tr>
				<tr ng-repeat="role in user.roles_on_tenant|_rest">
					<td>{{role.name}}</td>
					<td>
						<a ng-click="removeUserFromTenant(user.id, role.id)" class="btn"><i class="icon-remove"></i> Remove User</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

