<div class="well">
	<ul class="nav nav-list">
		<li>
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Select a region <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-repeat="endpoint in compute.endpoints">
						<a href="#/projects/{{tenantId}}/region/{{endpoint.region}}/servers">{{endpoint.region}}</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-header">Compute</li>
		<li><a href="#/projects/1/region/A/servers">Servers</a></li>
		<li><a href="#/images">Images</a></li>
		<li><a href="#/flavors">Flavors</a></li>
		<li class="nav-header">Networking</li>
		<li><a href="#/floating-ips">Floating Ips</a></li>
		<li class="nav-header">Block Storage</li>
		<li><a href="#/volumes">Volumes</a></li>
		<li><a href="#/snapshots">Snapshots</a></li>
		<li class="nav-header">Security</li>
		<li><a href="#/key-pairs">Key Pairs</a></li>
		<li><a href="#/security-groups">Security Groups</a></li>
		<li class="divider"></li>
		<li><a href="#/help">Help</a></li>
	</ul>
</div>