<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Edit Endpoint</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<tr>
					<td>
						<label>Region</label>
						<input type="text" data-ng-model="endpoint.region" style="width: 75%" />
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Public URL</label>
						<input type="url" data-ng-model="endpoint.publicurl" style="width: 75%" />
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Internal URL</label>
						<input type="url" data-ng-model="endpoint.internalurl" style="width: 75%"/>
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Admin URL</label>
						<input type="url" data-ng-model="endpoint.adminurl" style="width: 75%" />
						<span class="help-block"></span>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<input type="hidden" data-ng-model="endpoint.service_id" />
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
		<button class="btn" data-ng-click="onUpdate()">Update Endpoint</button>
	</div>
</div>