<div class="row">
	<div class="span12">
		<ng-include src="'app/identity/views/common/nav.html'">
	</div>
</div>
<div class="row">
	<div class="span12">
		<h1>{{service.type}} ({{service.name}})</h1>
		<hr />
		<p>{{service.description}}</p>
		<hr />
		<h2>
			Endpoints
		</h2>
		<div class="well well-small">
			<table style="width: 100%">
				<tr>
					<td>
						<a class="btn modal-link" modal-src="app/identity/views/endpoints/create.html" class="btn"><i class="icon-plus"></i> Create</button>
					</td>
					<td style="text-align:right">
						<button data-ng-click="onRefreshEndpoints()" class="btn"><i class="icon-refresh"></i> Refresh</button>
					</td>
				</tr>
			</table>
		</div>
		<ng-include src="'app/identity/views/endpoints/list.html'" />
	</div>
</div>