<div class="row">
	<div class="span12">
		<ng-include src="'app/identity/views/common/nav.html'">
	</div>
</div>
<div class="page-header" style="position: relative">
	<h1>Services <small>{{service.type}}</small></h1>
	<h2>{{service.name}}</h2>
	<p>{{service.description}}</p>
</div>
<div class="row">
	<div class="span12">
		<h2>
			Endpoints
		</h2>
		<div class="well well-small" style="overflow:hidden">
			<div class="pull-left">
				<a class="btn btn-small modal-link" modal-src="app/identity/views/endpoints/create.html" class="btn"><i class="icon-plus"></i> Create</a>
			</div>
			<div class="pull-right">
				<button data-ng-click="onRefreshEndpoints()" class="btn btn-small"><i class="icon-refresh"></i> Refresh</button>
			</div>
		</div>
		<ng-include src="'app/identity/views/endpoints/list.html'" />
	</div>
</div>