<div data-ng-controller="ComputeCtrl">
<div class="row">
	<ng-include src="'app/compute/views/common/nav.html'">
</div>
<div class="row">
	<div class="span12">
		<div class="well">
			<table style="width: 100%">
				<tr>
					<td>
						<button bootstrap-modal="app/compute/views/securitygroups/create.html" class="btn"><i class="icon-plus"></i> Create Security Group</button>
						
					</td>
					<td style="text-align: right">
						<button ng-click="onDelete()" class="btn"><i class="icon-trash"></i> Delete</button>
						<button ng-click="onRefresh(true)" class="btn"><i class="icon-refresh"></i> Refresh</button>
					</td>
				</tr>
			</table>
		</div>

		<table class="table table-striped" with-selection-checkboxes="security_groups">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
					<th ng-show="hasRole('admin')">Tenant</th>
					<th>Name</th>
					<th>Description</th>
					<th><br /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in security_groups">
					<td><input type="checkbox" ng-model="item.checked" /></td>
					<td ng-show="hasRole('admin')">{{item.tenant_id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.description}}</td>
					<td class="btn-toolbar">
						<div class="btn-group" style="float:right; margin-right: 35px">
							<button data-toggle="dropdown" class="btn dropdown-toggle">
								<span class="icon-cog"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/security-groups/{{item.id}}">
										<span class="icon-edit"></span> Edit rules
									</a>
								</li>
								<li class="divider"></li>
								<li>
									<a ng-click="onDelete(item)" class="confirm-delete"><i class="icon-remove"></i>
										Delete
									</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</div>