<div class="modal-body">
	<p>
		<label for='identity-endpoint'>Identity Endpoint:</label>
		<input type='text' ng-model="providers[provider].identityEndpoint" style="width: 98%" />
	</p>
	
	<p>
		<label for='access-key'>Access Key:</label>
		<input type='text' ng-model="accessKey" />
	</p>

	<p>
		<label for='secret-key'>Secret Key:</label>
		<input type='password' ng-model="secretKey" />
	</p>

	<p id="remember_me_holder">
		<label class="checkbox">Remember me
		<input type='checkbox' class='chk' name='${rememberMeParameter}' id='remember_me' />
		</label>
	</p>
</div>
<div class="modal-footer">
	<button class="btn" data-ng-click="onHPCloudLogin()">Login</button>
</div>
