<div class="well">
	<ul class="nav nav-list">
		<li>
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Select a region <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li ng-repeat="endpoint in compute.endpoints">
						<a href="index.html#{{tenantId}}/{{endpoint.region}}/servers">{{endpoint.region}}</a>
					</li>
				</ul>
			</div>
		</li>
		<li class="nav-header">Compute</li>
		<li><a href="#{{tenantId}}/{{regionName}}/servers">Servers</a></li>
		<li><a href="#{{tenantId}}/{{regionName}}/images">Images</a></li>
		<li><a href="#{{tenantId}}/{{regionName}}/flavors">Flavors</a></li>
		<li class="nav-header">Networking</li>
		<li><a href="#{{tenantId}}/{{regionName}}/floating-ips">Floating Ips</a></li>
		<li class="nav-header">Block Storage</li>
		<li><a href="#{{tenantId}}/{{regionName}}/volumes">Volumes</a></li>
		<li><a href="#{{tenantId}}/{{regionName}}/snapshots">Snapshots</a></li>
		<li class="nav-header">Security</li>
		<li><a href="#{{tenantId}}/{{regionName}}/key-pairs">Key Pairs</a></li>
		<li><a href="#{{tenantId}}/{{regionName}}/security-groups">Security Groups</a></li>
		<li class="divider"></li>
		<li><a href="#/help">Help</a></li>
	</ul>
</div>