<div ng-controller="VolumeAttachCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="hide()">×</button>
		<h3>Attach Volume IP</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<tr>
					<td>
						<label>Server</label>
						<select ng-model="server_id" ng-options="server.id as server.name for server in servers"></select>
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Device</label>
						<input type="text" ng-model="device"></select>
						<span class="help-block">Example : /dev/sdf</span>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<div class="pull-left">
			<a data-ng-click="hide()">Cancel</a>
		</div>
		<div class="pull-right">
			<button type="submit" class="btn btn-small btn-primary" ng-click="onAttach()">Attach</button>
		</div>
	</div>
</div>