<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="VolumeCreateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Create Volume</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<tr>
					<td>
						<label>Snapshot</label>
						<select data-ng-model="volume.snapshot_id" ng-options="snapshot.id as snapshot.displayName for snapshot in snapshots">
							<option value="">Select One Snapshot (optional) ...</option>
						</select>
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Size</label>
						<input type="text" data-ng-model="volume.size" />
						<span class="help-block">Size in GB.</span>
					</td>
				</tr>
				<!--
				<tr>
					<td>
						<label>Availability Zone</label>
						<g:textField data-ng-model="volume.zone" class="span8" />
						<span class="help-block"></span>
					</td>
				</tr>
				-->
				<tr>
					<td>
						<label>Name</label>
						<input type="text" data-ng-model="volume.display_name" />
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Description</label>
						<textarea data-ng-model="volume.display_descriotion"></textarea>
						<span class="help-block"></span>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
		<button class="btn" data-ng-click="onCreate()">Create Volume</button>
	</div>
</div>

