<div class="row" data-ng-controller="ComputeCtrl">
	<ng-include src="'app/compute/views/common/nav.html'">
</div>
<div class="page-header" style="position: relative">
	<h1>Volumes <small>{{$routeParams.region}}</small></h1>
</div>
<div class="row">
	<div class="span12">
		<div class="well well-small">
			<table style="width: 100%">
				<tr>
					<td>
						<button class="btn btn-small modal-link" modal-src="app/compute/views/volumes/create.html">
							<i class="icon-plus"></i> Create Volume
						</button>
						<!--
						<button class="btn" data-bootstrap-modal="app/compute/views/volumes/attach.html"><i class="icon-plus"></i> Attach</button>
						<button class="btn" data-ng-click="onDetach()"><i class="icon-minus"></i> Detach</button>
						
						<button class="btn" data-bootstrap-modal="app/compute/views/snapshots/create.html"><i class="icon-plus"></i> Create Snapshot</button>
						-->
					</td>
					<td style="text-align: right">
						<button class="btn btn-small" data-ng-click="onDelete()"><i class="icon-trash"></i> Delete</button>
						<a data-ng-click="onRefresh(true)" class="btn btn-small"><i class="icon-refresh"></i> Refresh</a>
					</td>
				</tr>
			</table>
		</div>
		<table class="table table-striped" with-selection-checkboxes="volumes">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
					<th>Status</th>
					<th>Zone</th>
					<th>Name</th>
					<th>Size</th>
					<th>Description</th>
					<th style="width: 1px"><br /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in volumes">
					<td><input type="checkbox" ng-model="volume.checked" /></td>
					<td>{{item.status}}</td>
					<td>{{item.availabilityZone}}</td>
					<td>{{item.displayName}}</td>
					<td>{{item.size}}</td>
					<td>{{item.displayDescription}}</td>
					<td class="btn-toolbar">
						<div class="btn-group">
							<button data-toggle="dropdown" class="btn btn-small dropdown-toggle">
								<span class="icon-cog"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
									<!--
									<li><a href="">Attach to server</a></li>
									-->
									<li ng-show="item.status != 'creating'"><a class="modal-link" modal-src="app/compute/views/volumes/attach.html">Manage attachments</a></li>
									
									<li ng-show="item.status == 'available'"><a class="modal-link" modal-src="app/compute/views/snapshots/create.html">Create Snapshot</a></li>
									<li class="divider"></li>
								<li>
									<a ng-click="onDetach(item)" ng-show="item.status == 'in-use'">
										<i class="icon-remove"></i> Detach</a>
									<a data-ng-click="onDelete(item)" class="confirm-delete" ng-show="item.status == 'available'">
										<i class="icon-remove"></i> Delete
									</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
