<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ImageCreateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Create Image</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<tr>
					<td colspan="2">
						<label>Name</label>
						<input type="text" data-ng-model="image.name"  placeholder="Type something…" />
						<span class="help-block">Example block-level help text here.</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Disk Format</label>
						<select data-ng-model="image.diskFormat" ng-options="diskFormat as diskFormat for diskFormat in ['aki', 'ari', 'ami', 'raw', 'iso', 'vhd', 'vdi', 'qcow2', 'vmdk']"></select>
						<span class="help-block">Example block-level help text here.</span>
					</td>
					<td>
						<label>Container Format</label>
						<select data-ng-model="image.containerFormat" ng-options="containerFormat as containerFormat for containerFormat in ['aki', 'ari', 'ami', 'bare', 'ovf']"></select>
						<span class="help-block">Example block-level help text here.</span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Min. Disk</label>
						<input type="text" data-ng-model="image.minDisk" placeholder="Type something…" />
						<span class="help-block">Example block-level help text here.</span>
					</td>
					<td>
						<label>Min. RAM</label>
						<input type="text" data-ng-model="image.minRam" placeholder="Type something…" />
						<span class="help-block">Example block-level help text here.</span>
					</td>
				</tr>
				<tr>
					<td colspan="2">
						<label>Image File</label>
						<input type="file" data-ng-model="image.file" />
						<span class="help-block">Example block-level help text here.</span>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
	</div>
</div>