<div class="row">
	<div class="span12">
		<ul class="nav nav-pills" >
			<li ng-class="{active : page == 'views/identity/tenants/list.html'}">
				<a href="#/identity/tenants">Tenants</a>
			</li>
			<li ng-class="{active : page == 'views/identity/users/list.html'}">
				<a href="#/identity/users">Users</a>
			</li>
			<li ng-class="{active : page == 'views/identity/roles/list.html'}">
				<a href="#/identity/roles">Roles</a>
			</li>
			<li ng-class="{active : page == 'views/identity/services/list.html'}">
				<a href="#/identity/services">Services</a>
			</li>
	    </ul>
	</div>
	<div class="span12">
		<ng-include src="page"></ng-include>
	</div>
</div>