<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">VNC Console</h3>
	</div>
	<div class="modal-body">
		<iframe src="http://www.piquilla.com" width="860px" height="600" frameBorder="0">Browser not compatible.</iframe>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
	</div>
</div>