<div id="login" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Login</h3>
	</div>
	<div class="modal-body">
		<p>
			<label for='username'>Username:</label>
			<input type='text' ng-model="username" value="demo" />
		</p>

		<p>
			<label for='password'>Password:</label>
			<input type='password' ng-model="password" value="secret0"/>
		</p>

		<p id="remember_me_holder">
			<label class="checkbox">Remember me
			<input type='checkbox' class='chk' name='${rememberMeParameter}' id='remember_me' />
			</label>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onLogin()">Login</button>
	</div>
</div>