<h1>IaaS Usage (RAW)</h1>
<hr />
<div class="well">
	<table class="actions">
		<tr>
			<td>
				<a href="#/usage/aggregate" class="btn"><i class="icon-plus"></i> Aggregate</a>
			</td>
			<td class="right">
				<a ng-click="onRefresh()" class="btn"><i class="icon-refresh"></i> Refresh</a>
			</td>
		</tr>
	</table>
</div>
<hr />
<table class="table table-stripped">
	<thead>
		<tr>
			<th><input type="checkbox" /></th>
			<th>Tenant ID</th>
			<th>User ID</th>
			<th>Resource Type</th>
			<th>Resource ID</th>
			<th>Event Type</th>
			<th>Timestamp</th>
		</tr>
	</thead>
	<tbody>
		<g:each in="${items.list}" var="item" status="status">
		<tr>
			<td><input type="checkbox" /></td>
			<td>${item.tenantId}</td>
			<td>${item.userId}</td>
			<td>${item.resourceType}</td>
			<td>${item.resourceId}</td>
			<td>${item.eventType}</td>
			<td>${item.timestamp}</td>
		</tr>
		</g:each>
	</tbody>
</table>