<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-ng-controller="KeyPairCreateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Create Key Pair</h3>
	</div>
	<div class="modal-body">
		<div class="tabbable tabs-left">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">Generate</a></li>
			<li><a href="#tab2" data-toggle="tab">Import</a></li>
		  </ul>
		  <div class="tab-content">
			<div class="tab-pane active" id="tab1">
				<fieldset>
					<table style="width: 100%">
						<tr>
							<td>
								<label>Name</label>
								<input type="text" data-ng-model="create_keypair.name" placeholder="Type something…" />
								<span class="help-block">Example block-level help text here.</span>
							</td>
						</tr>
					</table>
				</fieldset>
			</div>
			<div class="tab-pane" id="tab2">
				<fieldset>
					<table style="width: 100%">
						<tr>
							<td>
								<label>Name</label>
								<input type="text" data-ng-model="import_keypair.name" placeholder="Type something…" />
								<span class="help-block">Example block-level help text here.</span>
							</td>
						</tr>
						<tr>
							<td>
								<label>Public Key</label>
								<textarea data-ng-model="import_keypair['public key']" placeholder="Type something…" />
								<span class="help-block">Example block-level help text here.</span>
							</td>
						</tr>
					</table>
				</fieldset>
			</div>
		  </div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
		<button class="btn" data-ng-click="onImport()">Create Key Pair</button>
	</div>
</div>

