<div class="wizard" ng-controller="ServerLaunchCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="hide()">×</button>
		<h3 id="myModalLabel">Launch Server</h3>
	</div>
	<div class="modal-body"></div>
	<div class="modal-footer">
		<div class="pull-left">
			<a data-ng-click="hide()">Cancel</a>
		</div>
		<div class="pull-right">
			<button class="btn btn-small btn-small btn-previous" data-ng-click="on_previous()">Previous</button>
			<button class="btn btn-small btn-small btn-next" data-ng-click="on_next()">Next</button>
			<button class="btn btn-small btn-small btn-finish" data-ng-click="onLaunch()">Finish</button>
		</div>
	</div>
</div>