<div data-ng-controller="ComputeCtrl" ng-show="loaded">
	<div class="row">
		<ng-include src="'app/compute/views/common/nav.html'">
	</div>
	<div class="page-header" style="position: relative">
		<h1>Servers <small>{{$routeParams.region}}</small></h1>
	</div>
	<div class="row">
		<div class="span12">
			<div id="server-list">
				
				<div class="well well-small" style="overflow: hidden">
					<div class="pull-left">
						<button class="btn btn-small btn-small modal-link" modal-src="app/compute/views/servers/launch.html">
							<span class="icon-play"></span> Launch Server
						</button>
					</div>
					<div class="pull-right">
						<button class="btn btn-small btn-small btn-delete" data-ng-click="delete_checked(servers)"><span class="icon-trash"></span> Delete</button>
						<a class="btn btn-small btn-small btn-refresh" data-ng-click="refresh(true)"><span class="icon-refresh"></span> Refresh</a>
					</div>
				</div>
				<div class="list">
				<table class="table table-stripped" with-selection-checkboxes="servers">
					<thead>
						<tr>
							<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
							<th>Name</th>
							<th>Flavor</th>
							<th>Image</th>
							<th>Status</th>
							<th style="width: 1px"><br /></th>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-repeat="server in servers">
							<td><input type="checkbox" ng-model="server.checked"></td>
							<td>{{server.name}}</td>
							<td>{{server.flavor.name}} - {{server.flavor.vcpus}} vCPUs, {{server.flavor.ram}} RAM, {{server.flavor.disk}} Disk</td>
							<td>{{server.image.name}}</td>
							<td style="text-align: center">
								<span class="label label-{{server.status|serverStatus}}">{{server.status}}</span>
							</td>
							<td class="server-actions btn-toolbar">
								<div class="btn-group">
									<button data-toggle="dropdown" class="btn btn-small btn-small dropdown-toggle"><span class="icon-cog"></span> <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/servers/{{server.id}}">Show</a>
										<li class="divider"></li>
										<li><a ng-click="delete(server)" class="confirm-delete">Delete ...</a></li>
									</ul>
								</div>
							</td>
						</tr>
					<tbody>
				</table>
				</div>
			</div>
		</div>
	</div>
</div>