<table style="width: 100%; table-layout: fixed">
	<tbody>
		<tr>
			<th style="text-align: left">Name</th>
			<th style="text-align: left">Image</th>
		</tr>
		<tr>
			<td>{{server.name}}</td>
			<td><img ng-src="{{selected_image.name|logo}}" style="width: 32px" /> {{selected_image.name}}</td>
		</tr>
	</tbody>
</table>
<h2>Metadata</h2>
<table class="details">
	<tbody>
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
		<tr data-ng-repeat="(key, value) in server.metadata">
			<td>{{key}}</td>
			<td>{{value}}</td>
		</tr>
	</tbody>
</table>
<h2>Personality</h2>
<table class="details">
	<tbody>
		<tr>
			<th>File</th>
		</tr>
		<tr data-ng-repeat="personality in server.personality">
			<td>{{personality.path}}</td>
		</tr>
	</tbody>
</table>