<div id="server-launch" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="ServerResizeCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="onCloseModal()">×</button>
		<h3 id="myModalLabel">Resize Server</h3>
	</div>
	<div class="modal-body">
		<fieldset>
			<table style="width: 100%">
				<!--
				<tr>
					<td>
						<label>Flavor</label>
						<select ng-model="resize.flavorRef" ng-options="flavor.id as flavor.name for flavor in flavors"></select>
						<span class="help-block"></span>
					</td>
				</tr>
				-->
				<tr>
					<td>
						<label><input type="checkbox" ng-model="resize.auto_disk_config" /> Auto Disk Config</label>
					</td>
				</tr>
			</table>
			<div ng-include src="'app/compute/views/servers/launch-select-flavor.html'"></div>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="onCloseModal()">Cancel</button>
		<button type="submit" class="btn btn-primary" data-ng-click="onResize()">Resize</button>
	</div>
</div>