<div class="server-actions" data-ng-controller="ComputeCtrl">
	<div class="row">
		<ng-include src="'app/compute/views/common/nav.html'">
	</div>
	<div class="page-header" style="position: relative">
		<h1>Server <small>{{server.name}} on {{$routeParams.region}} region</small></h1>
		<div class="btn-toolbar" style="position: absolute; top: 0; right: 0">
			<div class="btn-group">
				<button data-toggle="dropdown" class="btn btn-small btn-small dropdown-toggle">actions <i class="caret"></i>
				</button>
				<ul class="dropdown-menu" ng-show="server.status == 'ACTIVE'">
					<li><a class="modal-link" modal-src="app/compute/views/servers/reboot.html">Reboot</a></li>
					<li><a class="modal-link" modal-src="app/compute/views/servers/console.html">Show console output</a></li>
					<li><a class="modal-link" modal-src="app/compute/views/servers/sshinfo.html">SSH Connection Information</a></li> 
					<li><a class="modal-link" modal-src="app/compute/views/servers/vnc.html">VNC Connection</a></li>
					<li><a class="modal-link" modal-src="app/compute/views/servers/create-image.html">Create Image</a></li>
					<li><a class="modal-link" modal-src="app/compute/views/servers/change-password.html">Change Password</a></li>
					<li><a class="modal-link" modal-src="app/compute/views/servers/rebuild.html">Rebuild</a></li>
					<li><a class="modal-link" modal-src="app/compute/views/servers/resize.html">Resize</a></li>
				</ul>
				<ul class="dropdown-menu" ng-show="server.status == 'VERIFY_RESIZE'">
					<li><a data-ng-click="onResizeVerify()">Confirm</a></li>
					<li><a data-ng-click="onResizeRevert()">Revert</a></li>
				</ul>
			</div>
			<div ng-show="hasRole('admin')" class="btn-group">
				<button data-toggle="dropdown" class="btn btn-small btn-small dropdown-toggle">admin <i class="caret"></i>
				</button>
				<ul class="dropdown-menu" ng-show="server.status == 'ACTIVE'">
					<li><a data-ng-click="onPause()">Pause</a></li>
					<li><a data-ng-click="onSuspend()">Suspend</a></li>
					<li><a data-ng-click="onLock()">Lock</a></li>
					<li><a class="modal-link" modal-src="app/compute/views/servers/backup.html">Create Backup</a></li>
				</ul>
				<ul class="dropdown-menu" ng-show="server.status == 'PAUSED'">
					<li><a data-ng-click="onUnpause()">Unpause</a></li>
				</ul>
				<ul class="dropdown-menu" ng-show="server.status == 'SUSPENDED'">
					<li><a data-ng-click="onResume()">Resume</a></li>
				</ul>
				<ul class="dropdown-menu" ng-show="server.status == 'LOCKED'">
					<li><a data-ng-click="onUnlock()">Unlock</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span12">
			<div class="well well-small">
				<table style="width: 100%">
					<tbody>
						<tr>
							<td>
								<a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/servers" class="btn btn-small btn-show"><span class="icon-list"></span> Back</a>
							</td>
							<td style="text-align: right">
								<button class="btn btn-small btn-delete" data-ng-click="onDelete()"><span class="icon-trash"></span> Delete</button>
								<a class="btn btn-small btn-refresh" data-ng-click="refresh(true)"><span class="icon-refresh"></span> Refresh</a>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<table id="server-show">
				<tr>
					<td style="vertical-align: top">
						<!-- LEFT -->
						<table class="table table-stripped {style.details}}">
							<tbody>
								<tr>
									<td style="font-weight: bold">ID</td>
									<td>{{server.id}}</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Status</td>
									<td>
										{{server.status}} <span ng-show="server.progress && server.progress != 0 && server.progress != 100">{{server.progress}} %</span>
									</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Disk Config</td>
									<td>{{server['OS-DCF:diskConfig']}}</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Created</td>
									<td>{{server.created}}</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Updated</td>
									<td>{{server.updated}}</td>
								</tr>
							</tbody>
						</table>
						<!-- LEFT -->
					</td>
					<td style="vertical-align: top">
						<!-- RIGHT -->
						<table class="table table-stripped {style.details}}">
							<tbody>
								<tr>
									<td style="font-weight: bold">Image</td>
									<td style="vertical-align: middle">
										<img ng-src="{{server.image.name|logo}}" style="width: 32px; margin-right: 8px" />
										<span style="margin-right: 8px">{{server.image.name}}</span>
									</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Flavor</td>
									<td>
										<span style="margin-right: 8px">{{server.flavor.name}} - {{server.flavor.vcpus}} vCPUs, {{server.flavor.ram}} RAM, {{server.flavor.disk}} Disk</span>
									</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Host</td>
									<td>{{server.hostId}}</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Key Name</td>
									<td>{{server.key_name}}</td>
								</tr>
								<tr>
									<td style="font-weight: bold">Tenant ID</td>
									<td>{{server.tenant_id}}</td>
								</tr>
								<tr>
									<td style="font-weight: bold">User ID</td>
									<td>{{server.user_id}}</td>
								</tr>
							</tbody>
						</table>
						<!-- RIGHT -->
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>