<div class="row" data-ng-controller="ComputeCtrl">
	<ng-include src="'app/compute/views/common/nav.html'">
</div>
<div class="row">
	<div class="span12">
		<div class="well">
			<table style="width: 100%">
				<tbody>
					<tr>
						<td>
							<a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/servers" class="btn btn-show"><span class="icon-list"></span> Back</a>
						</td>
						<td style="text-align: right">
							<button class="btn btn-delete" data-ng-click="onDelete()"><span class="icon-trash"></span> Delete</button>
							<a class="btn btn-refresh" data-ng-click="onRefresh(true)"><span class="icon-refresh"></span> Refresh</a>

						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<h1>{{server.name}}</h1>
		<table style="width: 100%; table-layout: fixed">
			<tr>
				<td style="vertical-align: top">
					<!-- LEFT -->
					<table class="table table-stripped {style.details}}">
						<tbody>
							<tr>
								<td style="text-weight: bold">ID</td>
								<td>{{server.id}}</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Status</td>
								<td>
									<table class="{style.details}}">
										<tbody>
											<tr>
												<td style="border: 0;">{{server.status}} ({{server.progress}} %)</td>
												<td style="border: 0; text-align: right">
													<div ng-show="server.status == 'ACTIVE'">
													<a data-bootstrap-modal="app/compute/views/servers/reboot.html">Reboot</a>
													| <a data-ng-click="onPause()">Pause</a>
													| <a data-ng-click="onSuspend()">Suspend</a>
													| <a data-ng-click="onLock()">Lock</a>
													</div>
													<div ng-show="server.status == 'PAUSED'">
													| <a data-ng-click="onUnpause()">Unpause</a>
													</div>
													<div ng-show="server.status == 'SUSPENDED'">
													| <a data-ng-click="onResume()">Resume</a>
													</div>
													<div ng-show="server.status == 'LOCKED'">
													| <a data-ng-click="onUnlock()">Unlock</a>
													</div>
													<div ng-show="server.status == 'VERIFY_RESIZE'">
													<a data-ng-click="onResizeVerify()">Confirm</a>
													| <a data-ng-click="onResizeRevert()">Revert</a>
													</div>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Disk Config</td>
								<td>{{server['OS-DCF:diskConfig']}}</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Created</td>
								<td>{{server.created}}</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Updated</td>
								<td>{{server.updated}}</td>
							</tr>
							<tr>
								<td colspan="2">
									<a data-bootstrap-modal="app/compute/views/servers/console.html">Show console output</a> |
									<a data-bootstrap-modal="app/compute/views/servers/sshinfo.html">SSH Connection Information</a> | 
									<a data-bootstrap-modal="app/compute/views/servers/vnc.html">VNC Connection</a>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<a data-bootstrap-modal="app/compute/views/servers/create-image.html">Create Image</a>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<a data-bootstrap-modal="app/compute/views/servers/change-password.html">Change Password</a>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<a data-bootstrap-modal="app/compute/views/servers/backup.html">Create Backup</a>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- LEFT -->
				</td>
				<td style="vertical-align: top">
					<!-- RIGHT -->
					<table class="table table-stripped {style.details}}">
						<tbody>
							<tr>
								<td style="text-weight: bold">Image</td>
								<td style="vertical-align: top">
									<table class="{style.details}}">
										<tbody>
											<tr>
												<td style="border: 0; text-align: right">{{server.image.name}}</td>
												<td style="border: 0; text-align: right">
													<a data-bootstrap-modal="app/compute/views/servers/rebuild.html" data-ng-show="server.status == 'ACTIVE'">Rebuild</a>
												</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Flavor</td>
								<td>
									<table class="{style.details}}">
										<tbody>
											<tr>
												<td style="border: 0; text-align: right">
													{{server.flavor.name}} - {{server.flavor.vcpus}} vCPUs, {{server.flavor.ram}} RAM, {{server.flavor.disk}} Disk
												</td>
													<td style="border: 0">
														<a data-bootstrap-modal="app/compute/views/servers/resize.html" ng-show="server.status == 'ACTIVE'">Resize</a>
													</td>
											</tr>
										</tbody>
									</table>
								</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Host</td>
								<td>{{server.hostId}}</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Key Name</td>
								<td>{{server.keyName}}</td>
							</tr>
							<tr>
								<td style="text-weight: bold">Tenant ID</td>
								<td>{{server.tenant_id}}</td>
							</tr>
							<tr>
								<td style="text-weight: bold">User ID</td>
								<td>{{server.user_id}}</td>
							</tr>
						</tbody>
					</table>
					<!-- RIGHT -->
				</td>
			</tr>
		</table>
	</div>
</div>