<div class="row">
	<div class="span12">
		<ng-include src="'app/identity/views/common/nav.html'">
	</div>
</div>
<div class="page-header" style="position: relative">
	<h1>Roles <small>List</small></h1>
</div>
<div class="row">
	<div class="span12">
		<div class="well well-small" style="overflow:hidden">
			<div class="pull-left">
				<a class="btn btn-small modal-link" modal-src="app/identity/views/roles/create.html" class="btn"><i class="icon-plus"></i> Create</a>
			</div>
			<div class="pull-right">
				<button data-ng-click="onDelete()" class="btn btn-small"><i class="icon-trash"></i> Delete</button>
				<button data-ng-click="onRefresh(true)" class="btn btn-small"><i class="icon-refresh"></i> Refresh</button>
			</div>
		</div>
		<table class="table table-striped" with-selection-checkboxes="roles">
			<thead>
				<tr>
					<th style="width: 1px"><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
					<th style="width: 1px">Id</th>
					<th>Name</th>
					<th style="width: 1px"><br /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in roles">
					<td><input type="checkbox" ng-model="item.checked" /></td>
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td class="btn-toolbar">
						<div class="btn-group">
							<button data-toggle="dropdown" class="btn btn-small dropdown-toggle"><span class="icon-cog"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a href="#/identity/users/{{item.id}}"><i class="icon-edit"></i> Edit</a></li>
								<li class="divider"></li>
								<li><a ng-click="onDelete(item)" class="confirm-delete"><i class="icon-remove"></i> Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>