<ul class="nav nav-pills nav-stacked">
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/servers">Servers</a></li>
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/images">Images</a></li>
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/flavors">Flavors</a></li>
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/floating-ips">Floating Ips</a></li>
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/volumes">Volumes</a></li>
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/snapshots">Snapshots</a></li>
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/key-pairs">Key Pairs</a></li>
	<li><a href="#/{{$routeParams.tenant}}/compute/{{$routeParams.region}}/security-groups">Security Grops</a></li>
</ul>