<div class="row">
	<div class="span2"><ng-include src="'app/compute/views/common/nav.html'"></div>
	<div class="span10">
		<div class="well">
			<table class="actions">
				<tr>
					<td>
						<button class="btn" data-bootstrap-modal="app/compute/views/volumes/create.html"><i class="icon-plus"></i> Create</button>
						<button class="btn" data-ng-click="onDelete()"><i class="icon-minus"></i> Delete</button>
						<button class="btn" data-bootstrap-modal="app/compute/views/volumes/attach.html"><i class="icon-plus"></i> Attach</a>
						<button class="btn" data-ng-click="onDetach()"><i class="icon-minus"></i> Detach</a>
						<button class="btn" data-bootstrap-modal="app/compute/views/snapshots/create.html"><i class="icon-plus"></i> Create Snapshot</a>
					</td>
					<td class="right">
						<a data-ng-click="onRefresh()" class="btn"><i class="icon-refresh"></i> Refresh</a>
					</td>
				</tr>
			</table>
		</div>
		<table class="table table-striped" with-selection-checkboxes="volumes">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
					<th>Status</th>
					<th>Zone</th>
					<th>Name</th>
					<th>Size</th>
					<th>Description</th>
					<th><br /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in volumes">
					<td><input type="checkbox" ng-model="volume.checked" /></td>
					<td>{{item.status}}</td>
					<td>{{item.availabilityZone}}</td>
					<td>{{item.displayName}}</td>
					<td>{{item.size}}</td>
					<td>{{item.displayDescription}}</td>
					<td class="btn-toolbar">
						<div class="btn-group" style="float:right; margin-right: 35px">
							<button data-toggle="dropdown" class="btn dropdown-toggle">
								Available Actions<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
									<!--
									<li><a href="">Attach to server</a></li>
									-->
									<li ng-show="item.stauts != 'creating'"><a data-bootstrap-modal="app/compute/views/volumes/attach.html">Manage attachments</a></li>
									<li ng-show="item.stauts == 'in-use'"><a ng-click="onDetach(item)">Detach</a></li>
									<li ng-show="item.stauts == 'available'"><a data-bootstrap-modal="app/compute/views/snapshots/create.html">Create Snapshot</a></li>
									<li class="divider"></li>
								<li><a data-ng-click="onDelete(item)" class="confirm-delete"><i class="icon-remove"></i> Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
