<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Customer</th>
			<th>Issued</th>
			<th>Due</th>
			<th>Total</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<g:each in="${invoices}" var="invoice" status="status">
		<tr>
			<td>${invoice.id}</td>
			<td><g:link controller="accounts" action="show" params="[accountId : invoice.account.id]">${invoice.account.company}</g:link></td>
			<td>${invoice.issued}</td>
			<td>${invoice.due}</td>
			<td>${invoice.total}</td>
			<td>Unpaid</td>
			<td><a href="#/portal/billing/1" class="btn">Details</a></td>
		</tr>
		</g:each>
	</tbody>
</table>