<table class="table">
	<tr>
		<th scope="row">ID</th>
		<td>${item.id}</td>
	</tr>
	<tr>
		<th scope="row">Name</th>
		<td>${item.name}</td>
	</tr>
	<tr>
		<th scope="row">Description</th>
		<td>${item.description}</td>
	</tr>
	<tr>
		<th scope="row">Enabled</th>
		<td>${item.enabled}</td>
	</tr>
</table>
<form action="${createLink(action : 'addUserOnTenant', params : [tenantId : item.id])}" method="POST">
	<table>
		<tr>
			<td><select name="userId" from="${allUsers}" optionKey="id" optionValue="name" noSelection="[null:'Select one user']"></select></td>
			<td><select name="roleId" from="${allRoles}" optionKey="id" optionValue="name" noSelection="[null:'Select one role']"></select></td>
			<td><button class="btn" style="margin-bottom: 9px"><i class="icon-user"></i> Add User</button></td>
		</tr>
	</table>
</form>
<table class="table table-stripped">
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Email</th>
			<th>Enabled</th>
			<th>Role</th>
			<th><br /></th>
		</tr>
	</thead>
	<tbody>
	<g:each in="${users}" var="user">
		<g:set var="rowspan" value="${user.roles.size()}" />
		<tr>
			<td rowspan="${rowspan}">${user.id}</td>
			<td rowspan="${rowspan}">${user.name}</td>
			<td rowspan="${rowspan}">${user.email}</td>
			<td rowspan="${rowspan}">${user.enabled}</td>
			<td>${user.roles[0].name}</td>
			<td>
				<a href="${createLink(action : 'removeUserOnTenant', params : [tenantId : params.tenantId, userId : user.id, roleId : user.roles[0].id])}" class="btn"><i class="icon-remove"></i> Remove User</a>
			</td>
		</tr>
		<g:if test="${rowspan > 1}">
		<g:each in="${user.roles.tail()}" var="role">
		<tr>
			<td>${role.name}</td>
			<td>
				<a href="${createLink(action : 'removeUserOnTenant', params : [tenantId : params.tenantId, userId : user.id, roleId : role.id])}" class="btn"><i class="icon-remove"></i> Remove User</a>
			</td>
		</tr>
		</g:each>
		</g:if>
	</g:each>
	</tbody>
</table>