<div ng-controller="UserCreateCtrl">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-ng-click="hide()">×</button>
		<h3 id="myModalLabel">Create User</h3>
	</div>
	<div class="modal-body">
		
		<fieldset>
			<table style="width: 100%">

				<tr>
					<td>
						<label>Name</label>
						<input type="text" data-ng-model="user.name" />
						<span class="help-block"></span>
					</td>
					
					<td>
						<label>Password</label>
						<!-- OS-KSADM:password ??? -->
						<input type="text" data-ng-model="user.password" />
						<span class="help-block"></span>
					</td>
					<td>
						<label>Default Tenant</label>
						<select data-ng-model="user.tenantId" ng-options="tenant.id as tenant.name for tenant in tenants">
							<option value="">Select a Tenant ...</option>
						</select>
						<span class="help-block"></span>
					</td>
				</tr>
				<tr>
					<td>
						<label>Username</label>
						<input type="text" data-ng-model="user.username" />
						<span class="help-block"></span>
					</td>
					<td>
						<label>eMail</label>
						<input type="text" data-ng-model="user.email" />
						<span class="help-block"></span>
					</td>
					<td>
						<label class="checkbox">
							<input type="checkbox" data-ng-model="user.enabled" value="true" /> Enabled
						</label>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>
	<div class="modal-footer">
		<button class="btn" data-ng-click="hide()">Cancel</button>
		<button class="btn" data-ng-click="onCreate()">Create User</button>
	</div>
</div>