<div class="row">
	<div class="span12">
		<ng-include src="'app/identity/views/common/nav.html'">
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="well well-small">
			<table style="width: 100%">
				<tr>
					<td>
						<button data-bootstrap-modal="app/identity/views/users/create.html" class="btn"><i class="icon-plus"></i> Create</button>
					</td>
					<td style="text-align: right">
						<button data-ng-click="onDelete()" class="btn"><i class="icon-trash"></i> Delete</button>
						<button data-ng-click="onRefresh(true)" class="btn"><i class="icon-refresh"></i> Refresh</button>
					</td>
				</tr>
			</table>
		</div>
		<table class="table table-striped" with-selection-checkboxes="users">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="checkedAll" ng-click="checkAll()" ng-checked="allChecked()"></th>
					<th>Id</th>
					<th>Name</th>
					<th>eMail</th>
					<th>Tenant</th>
					<th>Enabled</th>
					<th><br /></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in users">
					<td><input type="checkbox" ng-model="item.checked" /></td>
					<td>{{item.id}}</td>
					<td>{{item.name}}</td>
					<td>{{item.email}}</td>
					<td>
						<a href="#/{{$routeParams.tenant}}/identity/tenants/{{item.tenantId}}" ng-show="item.tenantId.length">{{item.tenantId}}</a>
						<span ng-show="!item.tenantId.length">N/A</span>
					</td>
					<td>{{item.enabled}}</td>
					<td class="btn-toolbar">
						<div class="btn-group" style="float: right; margin-right: 35px">
							<button data-toggle="dropdown" class="btn dropdown-toggle"><span class="icon-cog"></span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li><a data-ng-click="onDelete(item)"><i class="icon-remove"></i> Delete</a></li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>